<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="/static/images/logo.jpg">
  <title>Sr Events Manager</title>
  <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/job-post-styles.css') }}">


  <script>
    function toggleForm() {
      var form = document.getElementById("jobApplicationForm");
      form.style.display = (form.style.display === "none") ? "block" : "none";
    }
  </script>


</head>
<body>

  <!--navbar-->
    <nav class="navbar">
        <div class="left">
          <a class="title" href="/">JobTech</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Trending</a></li>
            <li><a href="/">About Us</a></li>
          </ul>
        </div>
      </nav>
  

      <!--Background-img-->
      <div class="background-image">
       
      </div>




  <div class="container">
  

    <h1>Sr Events Manager, India Consumables</h1>
    <h5>Job ID: 2505970 | Location - USA only</h5>
  
   
    <div class="role-description">
      <h2>DESCRIPTION:</h2>
      <p>
        We are looking for a talented, smart and entrepreneurial Marketing Manager who will be responsible for defining our events strategy, will own the events calendar and will drive awareness and customer participation across these programs.
      </p>
      <h2>About the Role:</h2>
      <p>
        In this role you will work directly with teams across JobTech to build the right go-to-market strategy, develop key marketing inputs and handle end to end execution of the events. The Events Manager is also responsible for the design, management and ongoing optimization of our daily deals program and also monitor & scale them during large scale events, including Diwali and Prime Day.
      </p>
    </div>
    <div class="requirements">
      <h2>Expectations/Requirements:</h2>
      <ol>
        <li>5+ years of professional non-internship marketing/category experience</li>
        <li>Experience with Excel or Tableau (data manipulation, macros, charts and pivot tables)</li>
        <li>Experience building, executing and scaling cross-functional marketing programs</li>
        <li>Experience driving direction and alignment with cross-functional teams</li> 
        <li>Experience communicating results to stakeholders </li>
      </ol>
    </div>
    <div class="superpowers">
      <h2>BASIC QUALIFICATIONS:</h2>
      <ul>
        <li> 5+ years of professional non-internship marketing experience.</li>
        <li>Experience using data and metrics to drive improvements</li>
        <li>Experience developing and executing campaigns across a multitude of timezones and languages</li>
        
      </ul>
    </div>
    
    <div class="divider"></div>


    <div class="apply-button-bottom">
        <button onclick="toggleForm()">Apply For this Job</button>
      </div>


<!-- Hidden form  -->
<div id="jobApplicationForm">
    <h2>Job Application Form</h2>
    <form onsubmit="return validateForm()">
     

      <label class="required" for="resume">Upload Resume:</label>
      <input type="file" id="resume" name="resume" required><br><br>

      <label class="required" for="name">Full Name:</label>
      <input type="text" id="name" name="name" required><br><br>
      
      <label class="required" for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>

      <label class="required" for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" required><br><br>

      <label class="required" for="currentCompany">Current Company:</label>
      <input type="text" id="currentCompany" name="currentCompany" required><br><br>


      <h2>Links</h2>

      <!-- LinkedIn -->
      <label for="linkedin">LinkedIn:</label>
      <input type="url" id="linkedin" name="linkedin"><br><br>
    
      <!-- GitHub -->
      <label for="github">GitHub:</label>
      <input type="url" id="github" name="github"><br><br>


      <h2>Additional Information</h2>
      <label for="additionalInfo">Additional Information:</label><br>
      <textarea id="additionalInfo" name="additionalInfo" rows="4" cols="50"></textarea><br><br>
    
  
    
      <input type="submit" value="Submit">
    </form>
  </div>
  
 
  <div id="successMessage" style="display: none;">
    <p>Thanks! Submitted successfully.</p>
  </div>
  


  <!-- Divider line -->
      <div class="divider"></div> 
    <div class="footer">
     

        <p>© Copyright JobTech(Made By Jay Panchal.)</p>
    </div>

  </div>

  
  <script src="{{ url_for('static', filename='job-post.js') }}"></script>

  <script>
    document.querySelector('#jobApplicationForm form').addEventListener('submit', function () {
      setTimeout(function () {
        location.reload(); 
      }, 3000);
    });
  </script>

</body>
</html>
